extends layout
block content
    h4 До Дня Києва, що традиційно з розмахом святкується 25 травня, за підтримки Київської міської державної адміністрації, готується унікальний проект «Стіна киян».
    h4.
        В самісінькому центрі Києва,
        під аркою Дружби народів буде побудована конструкція,
        довжиною 40 метрів та висотою 2,5 метра.
    img(src="/images/arka.jpg", alt="xxxx")
    h4.
        Вся конструкція буде викладена мозаїкою із фото киян та гостей міста.
        Взяти участь у проекті можуть всі бажаючі.
        Це унікальна можливість залишити свій фото-слід в житті міста.
    div.row.img_walls_wrapper
        div.col-xs-6
            img(src="/images/wall1.jpg")
        div.col-xs-6
            img(src="/images/wall2.jpg")

    h4 Розмістивши фотографію на «Стіні киян», Ви можете закарбувати в пам’яті визначну дату свого життя: день народження, весілля, перші кроки своєї дитини.

    h4 Ви також можете зробити унікальний і неочікувано приємний сюрприз своїм рідним та близьким, розмістивши їхню фотографію на «Стіні киян». Такий подарунок не залишить їх байдужими і довго буде гріти їхні душі приємними спогадами про Вас.
    h4 Розмістивши фотографію своєї коханої дівчини або хлопця на «Стіні киян», Ви можете виразити тим самим свої щирі почуття, показати свою неординарність та, хто знає, можливо, покласти початок міцним стосункам.
    h4 Унікальною можливістю вже скористалися та розмістили свої фотографії:
    div.row
        div.col-xs-12
            #slider1
                a.buttons.prev(href='#') <
                .viewport
                    ul.overview
                        li
                            img(src='images/stars/1.jpg')
                        li
                            img(src='images/stars/2.jpg')
                        li
                            img(src='images/stars/4.jpg')
                        li
                            img(src='images/stars/3.jpg')
                        li
                            img(src='images/stars/5.jpg')
                        li
                            img(src='images/stars/6.jpg')
                a.buttons.next(href='#') >

    br
    br
    div.row
        div.col-xs-12
            iframe(width="910", height="550", src="http://www.youtube.com/embed/Xd-s6oIz52s", frameborder="0", allowfullscreen)