extends layout
block content
    h2.text-center форма зворотнього зв'язку
    form(action="/contact", method="POST")
        div.form-group
            label(for="email") Ваш email
            input.form-control(type="text", name='email')
        div.form-group
            label(for="username") Ваше ім'я
            input.form-control(type="text", name='username')
        div.form-group
            label(for="txt") Повідомлення
            textarea.form-control(name='txt')
        button.btn.btn-primary(type='submit') Відправити
