extends layout
block content
    div.row
        div.col-xs-12
            h3.text-center До Дня Києва, 25 травня, даруємо унікальний проект "Стіна киян"
            h3.text-center Величезна, 40-метрова стіна, складена з фото киян!
    div.row
        div.col-xs-12
            #carousel.carousel.slide(data-ride="carousel")
                ol.carousel-indicators
                    li.active(data-target="#carousel", data-slide-to="0")
                    li(data-target="#carousel", data-slide-to="1")
                    li(data-target="#carousel", data-slide-to="2")
                    li(data-target="#carousel", data-slide-to="3")
                div.carousel-inner
                    div.item.active
                        img(src="/images/40m_wall.jpg", alt="Довжина 40 метрів та висота 2,5 метра")
                        div.carousel-caption
                            h2 Довжина 40 метрів та висота 2,5 метра
                    div.item
                        img(src="/images/arka.jpg", alt="xxxx")
                        div.carousel-caption
                            h2 В самісінькому центрі Києва, під аркою Дружби народів
                    div.item
                        img(src="/images/left_a_sign.jpg", alt="xxxx")
                        div.carousel-caption
                            h2 Залиште свій фото-слід в житті міста
                    div.item
                        img(src="/images/remember.jpg", alt="xxxx")
                        div.carousel-caption
                            h2 Закарбуйте в пам’яті визначну дату свого життя!
                a.left.carousel-control(href='#carousel', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left
                a.right.carousel-control(href='#carousel', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right

    div.row
        div.col-xs-12
            button.btn.btn-primary.btn-lg.button-uploadPhoto( data-toggle="modal", data-target="#upload-file" ) Розмістити своє фото
    div.row
        div.col-xs-12.text-center
            h2 Зірки вже розмістили тут свої фото


    div.row
        div.col-xs-12
            #slider1
                a.buttons.prev(href='#') <
                .viewport
                    ul.overview
                        li
                            img(src='images/stars/1.jpg')
                        li
                            img(src='images/stars/2.jpg')
                        li
                            img(src='images/stars/4.jpg')
                        li
                            img(src='images/stars/3.jpg')
                        li
                            img(src='images/stars/5.jpg')
                        li
                            img(src='images/stars/6.jpg')
                a.buttons.next(href='#') >

    #upload-file.modal.fade(tabindex="-1", role="dialog",  aria-hidden="true")
        div.modal-dialog.modal-lg
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h2 Завантажити фото
                div.modal-body
                    div
                        label
                            | email
                            input(type="text")
                    div
                        label
                            | фото
                        input.photo_loader(type="file")

                    div
                        input.check_term(type="checkbox")
                        |Завантажуючи фото, я погоджуюсь
                        a(href="/terms-of-use", target="_blank") з умовами використання сервісу


                div.modal-footer
                    a.btn.btn-primary.btn-next(href="/prices") Далі

