!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=title
    meta(name="description", content=description)
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/theme2.css')
    link(rel='stylesheet', href='/css/tinycarousel.css')
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49577477-1', 'facewall.kiev.ua');
      ga('send', 'pageview');

    body
    block header

    nav.navbar.navbar-default(role="navigation")
        div.container
            ul.nav.navbar-nav
                li
                    a(href="/") Головна
                li
                    a(href="about") Про проект
                li
                    a(href="/contact") Зворотній зв'язок
                li
                    a(href="/prices") Ціни
    div.container.main-block
        block content

    block footer
      footer
        div.container.footerInfo
            div.row.text-center
                h3 За підтримки:
            div.row
                div.col-xs-2.kmda
                    img(src="/images/kmda.png")
                div.col-xs-3.kmda
                    h3 Київська міська державна адміністрація
                div.col-xs-6.vidr.col-xs-offset-1
                    img(src="/images/vidrodjennia.png")
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script
          window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')
        //-script(defer, src='js/plugins.js')

        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='/js/jquery.tinycarousel.min.js')
        script(defer, src='/js/script.js')
