extends layout
block content
    div.row.workflow
        div.col-xs-3.done
            div.step
                div
                    span.glyphicon.glyphicon-camera
                div
                    |1. Завантажити фото
        div.col-xs-3.current
            div.step
                div
                    span.glyphicon.glyphicon-list-alt
                div
                    |2. Вибір тарифа

        div.col-xs-3.tobedone
            div.step
                div
                    span.glyphicon.glyphicon-th
                div
                    |3. Вибір місця для фото
        div.col-xs-3.tobedone
            div.step
                div
                    span.glyphicon.glyphicon-usd
                div
                    | 4. Оплата
    h2.text-center Тарифи
    div.product-table.row
        dl.box.simple
            dt Простий
            dd.features
                div.row
                    div.col-xs-12
                        span.glyphicon.glyphicon-ok
                        | фото 10х10 см
            dd.pricing  50 грн
            dd.activate
                button.btn.btn-primary.btn-lg.zoneSelector( disabled="disabled") Обрати місце
        dl.box.bronze
            dt Стандартний
            dd.features
                div.row
                    div.col-xs-12
                        span.glyphicon.glyphicon-ok
                        | фото 10х10 см
                div.row
                    div.col-xs-12
                        span.glyphicon.glyphicon-ok
                        | Вибір місця для фото в боковій частині
            dd.pricing 200 грн
            dd.activate
                a.btn.btn-primary.btn-lg.zoneSelector(href="#") Обрати місце
        dl.box.silver
            dt Стандартний +
            dd.features
                div.row
                    div.col-xs-12
                        span.glyphicon.glyphicon-ok
                        | фото 10х10 см
                div.row
                    div.col-xs-12
                        span.glyphicon.glyphicon-ok
                        | Вибір місця для фото в середній частині
            dd.pricing 300 грн
            dd.activate
                a.btn.btn-primary.btn-lg.zoneSelector(href="#") Обрати місце
        dl.box.vip
            dt VIP
            dd.features
                div.row
                    div.col-xs-12
                        span.glyphicon.glyphicon-ok
                        | фото 20х20 см
                div.row
                    div.col-xs-12
                        span.glyphicon.glyphicon-ok
                        | вибір місця для фото в центрі
                div.row
                    div.col-xs-12
                        span.glyphicon.glyphicon-ok
                        | Фото поряд з зірками
            dd.pricing 600 грн
            dd.activate
                a.btn.btn-primary.btn-lg.zoneSelector(href="#") Обрати місце
    div.row
        div.col-xs-12
            a(href="https://www.portmone.com.ua/r3/uk/services/card-to-card/index/id/7454")
                h1.text-center.alert-info Оплатіть на карту ПриватБанка 5168 7423 1707 4528
            a.btn.btn-lg.btn-primary.center-block(href="https://www.portmone.com.ua/r3/uk/services/card-to-card/index/id/7454") Оплатити (5168 7423 1707 4528)

    div.row
        div.col-xs-12
            h2.text-center Наведіть мишкою на тариф щоб побачити розміщення фото

    div.row
        div.col-xs-12
            div.wallPartSelector
                div.simple
                div.middle
                    div.bronze
                    div.silver
                    div.vip
                    div.silver
                    div.bronze
                div.simple



    div.modal.fade.placeSelector(tabindex="-1", role="dialog",  aria-hidden="true")
        div.modal-dialog.modal-lg
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
                    h1.modal-title Оберіть місце для фото
                div.modal-body.positionSelector
                div.modal-footer
                    div.legend
                        div.selected
                        div в наявності
                        div.locked
                        div зайнято
                    a.btn.btn-primary(href="https://www.portmone.com.ua/r3/uk/services/card-to-card/index/id/7454", target="_blank") Оплатити
                    button.btn.btn-default(type="button", data-dismiss="modal") Закрити
