extends layout
block content
    h3.text-center ПУБЛІЧНИЙ ДОГОВІР ПРО НАДАННЯ ПОСЛУГ
    p Замовник: Користувач сайту www.facewall.kiev.ua, що діє на підставі власного волевиявлення та здорового глузду з одного боку, і Виконавець: Товариство з обмеженою відповідальністю «Фірма Асава» (ТОВ «Фірма Асава») в особі Генерального директора Боклогова Олексія Івановича, що діє на підставі Статуту  з іншого боку, що разом іменуються Сторони, уклали цей Договір про таке:
    p 1. Предмет Договору
    p 1.1. За завданням Замовника Виконавець надає Замовнику послуги з розміщення його фотографії на стіні www.facewall.kiev.ua (далі – Сайт), викладеної мозаїкою з фотографій киян на умовах, визначених цим Договором.
    p 1.2. За цим Договором Виконавець надає Замовнику такі послуги:
    p 1.2.1. Прийняти та обробити фотографію Замовника.
    p 1.2.2. Розмістити підготовлену фотографію Замовника на віртуальній стіні Сайту.
    p 1.2.3. По закінченню строку підготовки та за наявності всіх необхідних дозволів, розмістити фотографію Замовника на стіні, викладеної мозаїкою з фотографій киян.
    p 1.2.4. Фото завантажене Замовником, заміні не підлягає
    p 2.    Обов'язки Виконавця
    p 2.1. Якісно та вчасно надавати передбачені у п. 1.2 Договору послуги Замовнику.
    p 2.2. У разі виникнення обставин, які перешкоджають належному виконанню своїх обов'язків за цим Договором, повідомити про це Замовника за допомогою засобів зв’язку, залишених Замовником при реєстрації на Сайті.
    p 2.3. Вживати будь-яких інших необхідних заходів, потрібних для належного виконання своїх зобов'язань за Договором.
    p 3.    Обов'язки Замовника
    p 3.1. Надати Виконавцю на його вимогу всю інформацію та фотографію, яка потрібна йому для належного виконання зобов'язання з надання передбачених цим Договором послуг.
    p 3.2. Фотографія, яку Замовник зобов’язується надати Виконавцю повинна:
    p 3.2.1. Відповідати нормам чинного законодавства.
    p 3.2.2. Не повинна містити порнографічного чи насильницького змісту або закликати до насильницьких дій.
    p 3.2.3. Бути його особистим волевиявлення і не порушувати права та інтереси інших осіб.
    p 3.3. За потреби забезпечити Виконавця всім необхідним для виконання своїх обов'язків за цим Договором належним чином.
    p 3.4. Приймати від Виконавця послуги, що надаються ним за цим Договором.
    p 3.5. Оплачувати надані Виконавцем послуги на умовах та в порядку, визначеному цим Договором.
    p 4. Ціна та порядок оплати послуг
    p 4.1. Вартість послуг визначається Сторонами за фактом замовлення її на Сайті, виходячи з обраного Замовником тарифного плану.
    p 4.2. Акт про надані послуги підписується Сторонами до    числа місяця, наступного за календарним місяцем, в якому фактично надавалися послуги.
    p 4.3. Замовник зобов'язаний оплатити обрану ним вартість послуг у розмірі 100% протягом 3-х днів з моменту реєстрації на Сайті.
    p 5. Відповідальність та порядок вирішення спорів
    p 5.1. Сторони цього Договору несуть відповідальність за невиконання чи неналежне виконання своїх зобов'язань за цим Договором відповідно до чинного законодавства.
    p 5.2. Всі спори, що виникають з цього Договору, Сторони вирішують шляхом переговорів. У разі неможливості досягти згоди шляхом переговорів Сторона має право звернутися до суду.
    p 6. Інші умови
    p 6.1. У всьому, що не передбачено цим Договором, Сторони керуються чинним законодавством України.
    p 6.2. Цей Договір є публічним і вважається підписаним Замовником в разі погодження на сайті Замовником з його положеннями.
    p 6.3. Цей Договір набирає чинності з моменту ознайомлення з ним Замовника та діє до повного виконання Замовником свої зобов’язань.
    p 6.4. Договір може бути розірваним за взаємною згодою Сторін. Одностороннє розірвання Договору допускається лише у випадках, передбачених цим Договором та законодавством України.
    p 6.5. Будь-яка із Сторін має право розірвати цей договір в односторонньому порядку, попередньо письмово повідомивши про це другу сторону за 5 днів.
    p 7. Форс-мажор
    p 7.1. Замовник та Виконавець звільняються від відповідальності за часткове або повне невиконання своїх зобов'язань за цим Договором, якщо воно є наслідком дії обставин непереборної сили (пожежі, землетруси, паводки, затоплення) або іншої перешкоди, що є поза їх контролем (воєнні дії, або страйки, громадські заворушення, збої у подачі електроенергії, не залежні від волі обох сторін, збої у роботі комп'ютерних систем, зміни у законодавстві, тощо), яким навіть уважна сторона не могла запобігти та які виникли після укладення цього Договору (форс-мажорні обставини).
    p 7.2. Сторона, що зазнала дії обставин непереборної сили або зіткнулася з перешкодою поза її контролем, зобов'язана негайно, не пізніше 3 днів, проінформувати іншу сторону Договору про виникнення, вид та можливу тривалість дії зазначених обставин та перешкод.
    p 7.3. Виникнення обставин та перешкод, передбачених п. 7.1, за умови дотримання вимог п. 7.2, продовжує строк виконання зобов'язань за цим договором на період дії зазначених обставин і перешкод та звичайно необхідного строку для усунення їх наслідків. При цьому, Сторони не позбавляються права обговорити та змінити умови Договору.
    p 7.4. Якщо обставини непереборної сили будуть продовжуватися більше трьох місяців з дати, визначеної для підписання Основного договору, зобов’язання, що є предметом цього Договору, припиняються.
