@import "bootstrap.less";
@gradientColor1 :    rgba(200,200,200,.2);
@stepActiveColor: @brand-primary;
@stepDoneColor:  #5ec9cc;
@stepNotDoneColor:  @gradientColor1 ;

.imageWall {
    border: 1px solid green;
    height: 100px;
    width: 800px;
    position: relative;
}
.container{
  max-width: 940px;
  min-width: 940px;
}

.perimeterZone{
  background-color: gray;
}
.goldZone{
  background-color: gold;
    //#gradient >.striped(rgba(255,255,255,.4),20deg);
  //background-size: 500px 500px;
}
.silverZone{
    background-color: #b3b3b3;
}
.bronzeZone{
    background-color: sandybrown;
}



.imageWall div{
    width: 50px;
    height: 50px;
}

.hoverImageWall {
    background-color: #67b168;
    z-index: 10;
    #gradient >.striped(rgba(255,255,255,.15),45deg);
    background-size: 30px 30px;
}

.legend{
  width: 120px;
  div{
    float: left;
    margin-right: 10px;
    margin-bottom:10px ;
  }
  .selected{
    width: 20px;
    height: 20px;
    background-color: @brand-primary ;
    border: 1px solid @btn-primary-border;
  }
  .locked{
    width: 20px;
    height: 20px;
    background-color: @gray ;
    border: 1px solid @gray;
  }


}
.positionSelector{
  div{

    width: 20px;
    height: 20px;

  }
  .available{
    background-color: @brand-primary ;
    border: 1px solid @btn-primary-border;
  }
  .selected{
    background-color: @brand-info ;
    border: 1px solid @btn-info-border;
  }
  .locked{
    background-color: @gray ;
    border: 1px solid @btn-info-border;
  }
}


.positionSelector{
  position: relative;
  height: 330px;
}
.container{
  max-width: 940px;
}

.button-uploadPhoto{
  margin: 10px auto 0px auto;
  width:25%; display:block;
}

h1, h2, h3{
  margin-top: 10px;
}

//.placeSelector img{
//    opacity: 0.3;
//    width:100%;
//    height:100%;
//}
//.placeSelector div{
//    width: 80px;
//    height: 80px;
//    background-repeat: no-repeat;
//}
.box{
  border-bottom-width: 2px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  #gradient > .vertical-three-colors(rgba(240,240,240,.2), rgba(255,255,255,.2), 50%,rgba(240,240,240,.2));

}

.box:hover, {
  #gradient > .vertical-three-colors(rgba(100,100,100,.2), rgba(255,255,255,.2), 50%,rgba(200,200,200,.2));
}
.hovered{
  #gradient > .vertical-three-colors(rgba(100,100,100,.2), rgba(200,200,200,.2), 50%,rgba(100,100,100,.2)) !important;
}

.features .row{
  margin-top:10px;
}
.features .glyphicon{
  color: #009900;
  margin-right: 10px;
  margin-left: 5px;
}
.product-table .features{
  font-size: 18px;
  text-align: left;
  min-height: 150px;
}
.product-table .pricing{
  font-size: 34px;
  font-weight: 700;
  //#gradient > .vertical-three-colors(@gradientColor1 , rgba(255,255,255,.2), 50%,@gradientColor1 );
}

dt, dd{
  padding: 5px;
}


.product-table dt{
  font-size: 22px;
  font-weight: 700;
  padding: 15px 0;
  max-height: 70px;
  #gradient > .vertical-three-colors(@gradientColor1 , rgba(255,255,255,.2), 50%,@gradientColor1 );
}
.product-table dl{
  .border-left-radius(0);
  display: inline-block;
  float: left;
  margin: 15px 0 0;
  min-height: 188px;
  position: relative;
  text-align: center;
  width: 25%;
}
.step{
  background-color: @stepNotDoneColor;
  height: 80px;
  margin: 0px 15px;
  padding-top: 10px;
}
.step:after{
    width:0px;
    height:0px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left:40px solid @stepNotDoneColor;
    position: absolute;
    content: "";
    top: 0px;
    right: -10px;
}


.step:before{
    width:0px;
    height:0px;
    border-top: 40px solid @stepNotDoneColor;
    border-bottom: 40px solid @stepNotDoneColor;
    border-left:40px solid transparent;
    position: absolute;
    content: "";
    top: 0px;
    left: -10px;
  }
.current .step:after{
  border-left:40px solid @stepActiveColor;
}
.current .step:before{
  border-top: 40px solid @stepActiveColor;
  border-bottom: 40px solid @stepActiveColor;
}
.current .step{
  background-color: @stepActiveColor;
  color:#ffffff;
}
.done .step:after{
  border-left:40px solid @stepDoneColor;
}
.done .step:before{
  border-top: 40px solid @stepDoneColor;
  border-bottom: 40px solid @stepDoneColor;
}
.done .step{
  background-color: @stepDoneColor;
}

.tobedone span{
  color:gray;
}


.workflow{
  margin-top: 20px;
   span {
     font-size: 35px;
   }
  div {
    text-align: center;
  }
}
.starRow{
  margin-bottom: 20px;
}
.imgStar img{
  width: 280px;
  height: 280px;
}
.alert-info{
  padding: 20px 0px;
}
footer{
  margin-top: 20px;
  height: 200px;
}

.navbar{
  margin-bottom: 0px;
}
.footerInfo {
  img{
    height: 100px;
  }
}

.main-block{
  min-height: 750px;
}
@vipColor:         rgba(255, 239, 0, 0.20);
@bronzeColor:      rgba(255, 122, 0, 0.20);
@silverColor:      rgba(0, 185, 255, 0.20);
.wallPartSelector{
  height: 150px;
  > div {
    #gradient > .vertical-three-colors(@gradientColor1 , rgba(255,255,255,.2), 50%,@gradientColor1 );
    height: 30px;
    border:1px solid darken(@gradientColor1,30%);
    div{
      float: left;
      #gradient > .vertical-three-colors(@gradientColor1 , rgba(255,255,255,.2), 50%,@gradientColor1 );
      border:1px solid darken(@gradientColor1,30%);
      height: 90px;
      width: 20%;
    }
    .vip{
      #gradient > .vertical-three-colors(darken(@vipColor,10%) , @vipColor, 50%,darken(@vipColor,10%));
    }
    .bronze{
      #gradient > .vertical-three-colors(darken(@bronzeColor,10%) , @bronzeColor, 50%,darken(@bronzeColor,10%) );
    }
    .silver{
      #gradient > .vertical-three-colors(darken(@silverColor,10%) , @silverColor, 50%,darken(@silverColor,10%) );
    }
  }
  .middle{
    height: 90px;
  }
}

/*TINY*/
@slideSize : 200px ;
/* Tiny Carousel */
#slider1 { height: @slideSize; margin: 0px;
  overflow:hidden; position: relative; }
#slider1 .viewport { height: @slideSize; overflow: hidden; position: relative; }
#slider1 .buttons {
  background: @brand-primary;
  border-radius: 35px;
  display: block;
  position: absolute;
  top: 50%;

  width: 35px;
  height: 35px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  text-decoration: none;
  font-size: 22px;
  z-index: 100;
}
#slider1 .prev{
  left: 20px;
}
#slider1 .next {
  right: 20px ;
}
#slider1 .buttons:hover{
  color: @brand-primary;
  background: #fff;
}
#slider1 .disable { visibility: hidden; }
#slider1 .overview {
  list-style: none; position: absolute; padding: 0; margin: 0;
  width: 240px; left: 0 top: 0; }
#slider1 .overview li{
  float: left; margin: 0 20px 0 0; padding: 1px;
  height: @slideSize; border: 1px solid #dcdcdc;
  width: @slideSize;}
#slider1 img{
  width: @slideSize;
}

.img_walls_wrapper img{
  width: 440px;
}

.navbar-default .navbar-nav>li>a{
  color:#eee;
}