@import "style.less";
footer{
 // border-top: 1px solid darken(@brand-info,20%);
  border-top: 1px solid darken(@gradientColor1,50%);

  background-color: @brand-primary;
  //background-color: darken(@gradientColor1,20%);
}