@import "style.less";

body{
  background: transparent url("/images/sky.jpg") no-repeat 50% -75px;
}
.navbar-default{
  background-color: darken(@gradientColor1,40%);
}

footer{
  // border-top: 1px solid darken(@brand-info,20%);
  border-top: 1px solid darken(@gradientColor1,50%);

  //background-color: @brand-primary;
  background-color: darken(@gradientColor1,20%);
}
